.sidebar-list {
    flex-direction: column;
    li {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.stretch {
    width: 100%;
}

.spacing-line {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 16px;
}

.tab-content {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.order-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
        margin: 8px;
    }
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.card-wrapper {
    display: flex;
    flex-direction: row;

    .card {
        margin: 16px;
        min-width: 300px;

        label {
            margin-bottom: 2px;
            font-size: 14px;
        }
    }
}

.order-row {
    border: 1px solid #dee2e6;
    margin-top: 8px;
    margin-bottom: 8px;
    .product-name { }
    .product-details {
        button {
            margin-left: 16px;
            margin-bottom: 16px;
        }
    }

}

.order {
    margin-top: 8px;
    margin-bottom: 8px;

    p {
        margin-bottom: 2px;
        margin-top: 8px;
    }
}

.close-order-btn {
    margin: 14px 2px;
}
